body{
    background-image: url(./background.jpg);
}
img {
    width: 200px;
    height: 150px;
    margin-right:1100px;
}

.navbar {
    display: flex;
    justify-content: end;
    margin-right: 35px;
}

a {
    margin-left: 25px;
    text-decoration: none;
    font-size: 25px;
    margin-top: 30px;
    color: black;
    font-weight: 600;
    font-family: sans-serif;
}
.btn-login{
    width: 75%;
    height: 25%;
    margin-top: 25px;
    margin-left: 20px;
    background-color: aqua;

}